@import 'normalize.css';

$cell-size: 60px;

* {
	box-sizing: border-box;
}

.app__inner {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	font-weight: 500;
	font-family: 'Roboto Mono';
	margin-bottom: 1.6em;
}

.calculator {
	border: 3px solid #bbb;
	border-radius: 10px;
	padding: 10px;
	font-size: 22px;
	font-weight: 500;
}

.calculator__display {
	width: 100%;
	height: calc($cell-size + 10px);
	display: flex;
	justify-content: right;
	align-items: center;
	border: 3px solid #ddd;
	border-radius: 10px;
	margin-bottom: 10px;
	font-size: 1.6em;
	letter-spacing: 1px;
	padding: 0 6px;
	font-family: 'Roboto';
}

.calculator__buttons {
	display: grid;
	width: 100%;
	user-select: none;
	grid-template-columns: repeat(4, $cell-size);
	grid-template-rows: repeat(5, $cell-size);
	gap: 10px;
	font-size: 1.4em;
	font-family: 'Roboto Mono';
	font-weight: 500;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #ddd;
	border-radius: 10px;
	background-color: #eee;
	transition: background-color 0.15s;
}

.button:hover {
	background-color: #ddd;
	cursor: pointer;
}

.button-equality {
	grid-column: 4 / -1;
	grid-row: 4 / -1;
}

.button-zero {
	grid-column: 1 / 3;
	grid-row: 5 / -1;
}

.button:not(.button-digit):not(.button-point) {
	background-color: #ddd;
}

.button:not(.button-digit):not(.button-point):hover {
	background-color: #ccc;
}
